.scope {
  a-property:       50px;
  another-property: #fff;
}

.html {
  size:      50px;
  body-size:       1.06rem;
  aside-size:      12px;
  fig-cap-size:    13px;
}

.distill-site-nav {
  color: rgba(255, 255, 255, 0.8);
  background-color: #455a64;
  font-size: 15px;
  font-weight: 300;
}

.distill-site-header {
  size: 18px;    
  color: #ff414b; 
  text-size:  15px;
  hover-color: #dd424c; 
  background-color: #ffd8db; 
}

